@model IEnumerable<TestAssignment.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseTrainer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfModules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainerRowId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseTrainer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfModules)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerRowId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CourseRowId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CourseRowId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CourseRowId })
        </td>
    </tr>
}

</table>
